<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[嘻嘻]</key>
	<string>f000.png</string>
	<key>[哈哈]</key>
	<string>f001.png</string>
	<key>[爱你]</key>
	<string>f002.png</string>
	<key>[晕]</key>
	<string>f003.png</string>
	<key>[泪]</key>
	<string>f004.png</string>
	<key>[馋嘴]</key>
	<string>f005.png</string>
	<key>[抓狂]</key>
	<string>f006.png</string>
	<key>[哼]</key>
	<string>f007.png</string>
	<key>[可爱]</key>
	<string>f008.png</string>
	<key>[怒]</key>
	<string>f009.png</string>
	<key>[汗]</key>
	<string>f010.png</string>
	<key>[呵呵]</key>
	<string>f011.png</string>
	<key>[睡觉]</key>
	<string>f012.png</string>
	<key>[钱]</key>
	<string>f013.png</string>
	<key>[偷笑]</key>
	<string>f014.png</string>
	<key>[酷]</key>
	<string>f015.png</string>
	<key>[衰]</key>
	<string>f016.png</string>
	<key>[吃惊]</key>
	<string>f017.png</string>
	<key>[怒骂]</key>
	<string>f018.png</string>
	<key>[鄙视]</key>
	<string>f019.png</string>
	<key>[挖鼻屎]</key>
	<string>f020.png</string>
	<key>[花心]</key>
	<string>f021.png</string>
	<key>[鼓掌]</key>
	<string>f022.png</string>
	<key>[失望]</key>
	<string>f023.png</string>
	<key>[思考]</key>
	<string>f024.png</string>
	<key>[生病]</key>
	<string>f025.png</string>
	<key>[亲亲]</key>
	<string>f026.png</string>
	<key>[抱抱]</key>
	<string>f027.png</string>
	<key>[懒得理你]</key>
	<string>f028.png</string>
	<key>[左哼哼]</key>
	<string>f029.png</string>
	<key>[右哼哼]</key>
	<string>f030.png</string>
	<key>[嘘]</key>
	<string>f031.png</string>
	<key>[委屈]</key>
	<string>f032.png</string>
	<key>[困]</key>
	<string>f033.png</string>
	<key>[敲打]</key>
	<string>f034.png</string>
	<key>[疑问]</key>
	<string>f035.png</string>
	<key>[挤眼]</key>
	<string>f036.png</string>
	<key>[害羞]</key>
	<string>f037.png</string>
	<key>[悲伤]</key>
	<string>f038.png</string>
	<key>[拜拜]</key>
	<string>f039.png</string>
	<key>[黑线]</key>
	<string>f040.png</string>
	<key>[强]</key>
	<string>f041.png</string>
	<key>[弱]</key>
	<string>f042.png</string>
	<key>[给力]</key>
	<string>f043.png</string>
	<key>[浮云]</key>
	<string>f044.png</string>
	<key>[围观]</key>
	<string>f045.png</string>
	<key>[威武]</key>
	<string>f046.png</string>
	<key>[相机]</key>
	<string>f047.png</string>
	<key>[开车]</key>
	<string>f048.png</string>
	<key>[飞机]</key>
	<string>f049.png</string>
	<key>[牵手]</key>
	<string>f050.png</string>
	<key>[奥特曼]</key>
	<string>f051.png</string>
	<key>[兔子]</key>
	<string>f052.png</string>
	<key>[熊猫]</key>
	<string>f053.png</string>
	<key>[不要]</key>
	<string>f054.png</string>
	<key>[ok]</key>
	<string>f055.png</string>
	<key>[赞]</key>
	<string>f056.png</string>
	<key>[勾引]</key>
	<string>f057.png</string>
	<key>[胜利]</key>
	<string>f058.png</string>
	<key>[欣赏]</key>
	<string>f059.png</string>
	<key>[拳头]</key>
	<string>f060.png</string>
	<key>[差劲]</key>
	<string>f061.png</string>
	<key>[握手]</key>
	<string>f062.png</string>
	<key>[玫瑰]</key>
	<string>f063.png</string>
	<key>[爱心]</key>
	<string>f064.png</string>
	<key>[心碎]</key>
	<string>f065.png</string>
	<key>[猪头]</key>
	<string>f066.png</string>
	<key>[咖啡]</key>
	<string>f067.png</string>
	<key>[话筒]</key>
	<string>f068.png</string>
	<key>[月亮]</key>
	<string>f069.png</string>
	<key>[太阳]</key>
	<string>f070.png</string>
	<key>[啤酒]</key>
	<string>f071.png</string>
	<key>[萌]</key>
	<string>f072.png</string>
	<key>[礼物]</key>
	<string>f073.png</string>
	<key>[互粉]</key>
	<string>f074.png</string>
	<key>[钟]</key>
	<string>f075.png</string>
	<key>[自行车]</key>
	<string>f076.png</string>
	<key>[蛋糕]</key>
	<string>f077.png</string>
	<key>[围巾]</key>
	<string>f078.png</string>
	<key>[手套]</key>
	<string>f079.png</string>
	<key>[雪花]</key>
	<string>f080.png</string>
	<key>[雪人]</key>
	<string>f081.png</string>
	<key>[帽子]</key>
	<string>f082.png</string>
	<key>[足球]</key>
	<string>f083.png</string>
</dict>
</plist>
